img {
  max-width:100%;
}
body {
  background: linear-gradient(to right, lightgreen,teal);
  font-family: Verdana;
  margin: 0;
}

header {
  background-color: rgba(0,0,0,.2);
  grid-area: header;
  text-align: center;
  margin: 0;
}
header h1 {
  color: mediumspringgreen;
  text-shadow: 2px 2px 5px navy;
  font-size: 5vw;
  text-align: center;
}
header h3 {
  color: navy;
  text-align: center;
  font-size: 2vw;
}
nav {
  background-color: rgba(0,0,0,.2);
  grid-area: nav;
}
nav ul {
  padding: 10px;
  margin: 0;
}
nav li {
  padding: 10px 10px;
  list-style-type: none;
  font-size: 1.5em;
  font-weight: bold;
}
nav a {
  color: navy;
  text-decoration: none;
}
a:hover {
  color: white;
}
main {
  background-color: rgba(0,0,0,.2);
  grid-area: main;
  padding: 5px;
}
main h2 {
  color: navy;
  font-size: 3em;
  text-align: center;
}
main p {
  color: white;
  font-size: 1em;
  margin: 5px;
}
aside {
  background-color: rgba(0,0,0,.2);
  grid-area: aside;
  padding: 15px;
}
aside h2 {
  color: navy;
}
aside a {
  color: white;
  padding: 10px 0;
}
aside a:hover {
  color: navy;
}
aside li {
  color: navy;
  margin: 15px;
}
footer {
  background-color: rgba(0,0,0,.2);
  grid-area: footer;
}
footer p {
  font-size: 1em;
  color: white;
  text-align: center;
}
/*---------------------------Mobile Layout Styles----------------------------*/
.container1 { /*for index.html*/
  display: grid;
  grid-template-columns:100%;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
    }

/*This stuff is for the hamburger menu*/
.toggleNav {
    display:grid; /*This is what allows the hamburger icon and "Menu" to display*/
    text-align:center;
    font-size:1.5em;
    font-weight:bold;
    padding:10px;
    }

#flex-nav ul {
    display: none; /*jQuery toggles the nav from to this class to the .open when clicked*/
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
 
#flex-nav ul.open { /*.open is the class that gets toggled when clicked (with help from the jQuery code)*/
    display:grid;
    }
    
#flex-nav li {
    padding-left:10px;
    padding-top:10px;
    }


/*-----------------------Tablet Media Query------------------------*/
@media only screen and (min-width: 480px)  {
.container1 { /*for index.html*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "aside aside"
    "footer footer";
    }


/* Below will change from hamburger menu to side navigation*/
  
.toggleNav {
    display: none; /*Makes the hamburger icon with the word "Menu" to disappear at this screen size*/
  }
  
#flex-nav ul {
    display:grid;
    text-align:left;
  }

#flex-nav li {
    padding-left:10px;
    padding-top:10px;
  }

	}

/*-----------------------Desktop Media Query------------------------*/
@media only screen and (min-width: 960px)  {

.container1 { /*for index.html*/
  grid-template-columns:auto 1fr 25%;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
    }
	

	}
